$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Times, 'Times New Roman', serif;
html,body{
    font-family: $sans;
    margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

*{
  box-sizing: border-box;
}

$base: #009F93;
$grey: #2B3A54;

$t5: lighten($base, 65%);
$t4: lighten($base, 50%);
$t3: lighten($base, 35%);
$t2: lighten($base, 20%);
$t1: lighten($base, 10%);
$s1: darken($base, 10%);
$s2: darken($base, 20%);
$s3: darken($base, 30%);
$s4: darken($base, 40%);
$s5: darken($base, 50%);

$gt5: lighten($grey, 50%);
$gt4: lighten($grey, 40%);
$gt3: lighten($grey, 30%);
$gt2: lighten($grey, 20%);
$gt1: lighten($grey, 10%);
$gs1: darken($grey, 10%);
$gs2: darken($grey, 20%);
$gs3: darken($grey, 30%);
$gs4: darken($grey, 40%);
$gs5: darken($grey, 50%);


.generator{
    background-color: $grey;
    color: $gt5;
    display: flex;
    justify-content:flex-end;
}

.stepper{
    margin: 0 1em;
}
.stepper__label{
    margin-right: 0.5em;
}
.stepper__control{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-color: transparent;
    border: 1px solid $gt3;
    color: $gt4;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s;
    &:hover,&:focus{
        background-color: $gs2;
        outline: 0;
    }
}
.stepper__field{
    padding: 1em;
    width: auto;
    background-color: $gs1;
    text-align: center;
    font-size: 18px;
    width: 3em;
    color: $t5;
    border:0;
    &:focus{
        outline: 0;
    }
}
.stepper__control--increment{}
.stepper__control--decrement{}
.generate-recipes{
    background-color: $gs1;
    padding: 0 2em;
    border: 0;
    color: $t5;
    font-size: 1em;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
}
.recipe{
  position: relative;
  border-radius: 5px;
  border: 1px solid $t1;
  max-width: 400px;
  font-size: 1rem;
  background-color: $t5;
  overflow: hidden;
  margin: 1em;
}

.recipe__image{
  background-image: url('https://media.blueapron.com/recipes/1732/c_main_dish_images/1466023268-4-9923/071816_2PV3_FreshPappardelle-3604_Right_splash_feature.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100px;
}

.recipe__regenerate{
  position: absolute;
  display:block;
  z-index: 10;

  top: 0;
  right: 0;
  margin: 0;
  padding-right: 0.25rem;

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: $t5;
  border: 0;

  &:before{
    content: 'Swap out this recipe';
    text-align: right;
    font-weight: normal;
    position: relative;
    top: 1em;
    right: 1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
  }
  &:after{
    position:absolute;
    display:block;
    content:'';
    top:-2rem;
    right:-2rem;
    width: 4rem;
    height: 4rem;
    background-color: $base;
    transform: rotate(45deg);
    z-index: -1;
    transition: opacity 0.25s;
  }

  &:hover{
    &~.recipe__blind{
      opacity: 1;
    }
    &:before{
      opacity: 1;
    }
    &:after{
      //opacity: 0;
    }
  }
}
.recipe__blind{
  position: absolute;
  pointer-events: none;
  opacity: 0;
  content: '';

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: transparentize($base, 0.3);
  z-index: 5;
  transition: opacity 0.25s;
}
.recipe__details{
  padding: 1.5rem;
}
.recipe__title{
  font-family: $serif;
  font-weight: normal;
  color: $base;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 0.25em 0;
}
.recipe__subtitle{
  font-family: serif;
  color: $gt1;
  font-style: italic;
  font-size: 0.8em;
  margin-top:0;
}
.recipe__meta{
  width: 100%;
  text-align: left;
  color: #444;
  border-collapse: collapse;
  margin-bottom: 1.5em;
}

.recipe__meta th{
  color: $base;
  padding: .25em;
  border-bottom: 2px solid $base;
  border-right: 0;
  border-left: 0;
}

.recipe__meta td{
  padding: .25em;
}
.meta__time{}
.meta__servings{}

.recipe__pdf-link{
  background-color: $base;
  display:inline-block;
  width: auto;
  color: $t5;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 1em;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
  &:hover{
    background-color: $s1;
    transform: translateY(-.15em);
    box-shadow: 0px 2px 5px $gt5;
  }
}
