$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Times, 'Times New Roman', serif;
html,body{
    font-family: $sans;
    margin:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

*{
  box-sizing: border-box;
}

$base: #009F93;
$grey: #2B3A54;

$t5: lighten($base, 65%);
$t4: lighten($base, 50%);
$t3: lighten($base, 35%);
$t2: lighten($base, 20%);
$t1: lighten($base, 10%);
$s1: darken($base, 10%);
$s2: darken($base, 20%);
$s3: darken($base, 30%);
$s4: darken($base, 40%);
$s5: darken($base, 50%);

$gt5: lighten($grey, 50%);
$gt4: lighten($grey, 40%);
$gt3: lighten($grey, 30%);
$gt2: lighten($grey, 20%);
$gt1: lighten($grey, 10%);
$gs1: darken($grey, 10%);
$gs2: darken($grey, 20%);
$gs3: darken($grey, 30%);
$gs4: darken($grey, 40%);
$gs5: darken($grey, 50%);


.generator{
    background-color: $grey;
    color: $gt5;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.generator__label{
    margin-left: 1em;
}

.generator__field{
    padding: 1em;
    width: auto;
    background-color: $gt5;
    text-align: center;
    font-size: 1.2em;
    width: 3em;
    color: $s4;
    border:0;
    &:focus{
        outline: 0;
    }
}

.generate-recipes{
    background-color: $gs1;
    padding: 0 2em;
    border: 0;
    color: $t5;
    font-size: 1em;
    padding:1.2em 2em;
    transition: background-color 0.25s;
    &:focus,&:hover{
        background-color: $gs5;
        outline:0;
    }
}

.recipes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &:after{
      content:'';
      position: absolute;
      display:block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparentize($grey, 0.2);
      opacity: 0;
      transition: opacity 0.25s;
      pointer-events: none;
  }
}

.recipes.loading{
    pointer-events: none;
    &:after{
        opacity: 1;
    }
}

.recipe{
  position: relative;
  border-radius: 5px;
  border: 1px solid $t1;
  width: 400px;
  font-size: 1rem;
  background-color: $t5;
  overflow: hidden;
  margin: 1em;
}

.recipe__image{
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100px;
}

.recipe__regenerate{
  position: absolute;
  display:block;
  z-index: 10;

  top: 0;
  right: 0;
  margin: 0;
  padding-right: 0.25rem;

  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: $t5;
  border: 0;

  &:before{
    content: 'Swap out this recipe';
    text-align: right;
    font-weight: normal;
    position: relative;
    top: 1em;
    right: 1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
  }
  &:after{
    position:absolute;
    display:block;
    content:'';
    top:-2rem;
    right:-2rem;
    width: 4rem;
    height: 4rem;
    background-color: $base;
    transform: rotate(45deg);
    z-index: -1;
    transition: opacity 0.25s;
  }

  &:hover{
    &~.recipe__blind{
      opacity: 1;
    }
    &:before{
      opacity: 1;
    }
    &:after{
      //opacity: 0;
    }
  }
}
.recipe__blind{
  position: absolute;
  pointer-events: none;
  opacity: 0;
  content: '';

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: transparentize($base, 0.3);
  z-index: 5;
  transition: opacity 0.25s;
}
.recipe__details{
  padding: 1.5rem;
}
.recipe__title{
  font-family: $serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 0.25em 0;
}
.recipe__title a{
    text-decoration: none;
    color: $base;
    transition: color 0.25s;
    background-image: linear-gradient(to bottom, transparent 50%, transparentize($base,0.5) 50%);
    text-shadow: 1px 1px 0px $t5, -1px -1px -0px $t5;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 0.95em;
    &:hover{
        color: $s1;
    }
}
.recipe__subtitle{
  font-family: serif;
  color: $gt1;
  font-style: italic;
  font-size: 0.8em;
  margin-top:0;
}
.nutrition-information{
    margin-bottom: 1em;
    display:flex;
}
.col-xs-4{
    width: 30%;
}
.field-name{
    font-weight:bold;
    border-bottom: 2px solid $base;
    margin-bottom: 0.25em;
}

.recipe__pdf-link{
  background-color: $base;
  display:inline-block;
  width: auto;
  color: $t5;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 1em;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
  &:hover{
    background-color: $s1;
    transform: translateY(-.15em);
    box-shadow: 0px 2px 5px $gt5;
  }
}
