!!!
%head
    %link(rel='stylesheet' type='text/css' href='css/style.css')
    %meta(charset='utf-8')
%body
    .generator
        %button.generate-recipes#generate-recipes(onclick='generateRecipes(this)') Generate Recipes
        %input.generator__field#generator__number(type='number' value='1' size='4')
        %label.generator__label(for="generator__number") Number of recipes to generate


    .recipes#recipes

    #recipe__string
    :plain
        <script type='template' id='recipe-template'>
            <div class='recipe'>
                <div class='recipe__image'></div>
                <a class='recipe__regenerate' onclick='' href='#'> &#x27f2;</a>
                <div class='recipe__details'>
                    <h2 class='recipe__title'>{{recipe-title}}</h2>
                    <h3 class='recipe__subtitle'>{{recipe-subtitle}}</h3>
                    <table class='recipe__meta'>
                        <tbody>
                            <tr>
                                <th>Cooking Time</th>
                                <th>Servings</th>
                            </tr>
                            <tr>
                                <td class='meta__time'>{{meta-time}}</td>
                                <td class='meta__servings'>{{meta-servings}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class='recipe__pdf-link' href='{{recipe-pdf-link}}'>Download PDF</a>
                </div>
            </div>
            <div class="recipe__blind"></div>
        </script>
    %script(type='text/javascript' src='script.js')
